workflows/n8n/reply-handler-linkedin.json
{
  "name": "Reply Handler - LinkedIn (HeyReach)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reply-handler-linkedin",
        "authentication": "headerAuth",
        "options": {
          "rawBody": false
        },
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "HeyReach Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "reply-handler-linkedin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validate-secret",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.HEYREACH_WEBHOOK_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "auth-check",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: { code: 'AUTH_FAILED', message: 'Invalid webhook secret' } }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "auth-failed-response",
      "name": "Auth Failed Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [500, 450]
    },
    {
      "parameters": {
        "jsCode": "// Parse HeyReach webhook payload and transform for Reply Handler agent\nconst body = $input.first().json.body;\n\n// Validate required fields\nif (!body.event_type || body.event_type !== 'message_received') {\n  throw new Error('Invalid event type: expected message_received');\n}\n\nif (!body.lead?.linkedin_url || !body.message?.text) {\n  throw new Error('Missing required fields: lead.linkedin_url or message.text');\n}\n\n// Transform to agent format\nconst agentPayload = {\n  source: 'heyreach',\n  reply: {\n    lead_linkedin_url: body.lead.linkedin_url,\n    lead_name: `${body.lead.first_name || ''} ${body.lead.last_name || ''}`.trim() || 'Unknown',\n    company: body.lead.company || 'Unknown',\n    title: body.lead.headline || '',\n    campaign_id: body.campaign_id || null,\n    conversation_id: body.message.conversation_id || null,\n    body: body.message.text,\n    received_at: body.message.timestamp || new Date().toISOString()\n  },\n  brain_id: body.brain_id || $env.DEFAULT_BRAIN_ID || 'default'\n};\n\nreturn [{ json: agentPayload }];"
      },
      "id": "parse-message-event",
      "name": "Parse Message Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.REPLY_HANDLER_URL || 'http://localhost:3002' }}/webhook/reply",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.HEYREACH_WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-reply-handler",
      "name": "Call Reply Handler Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-agent-success",
      "name": "Agent Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-category-a",
              "leftValue": "={{ $json.category }}",
              "rightValue": "A",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-category-a",
      "name": "Is Category A?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-category-b",
              "leftValue": "={{ $json.category }}",
              "rightValue": "B",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-category-b",
      "name": "Is Category B?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_INTERESTED_LEADS_CHANNEL || '#interested-leads' }}",
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify([\n  { \"type\": \"header\", \"text\": { \"type\": \"plain_text\", \"text\": \"🎯 Category A: Interested Lead (LinkedIn)\", \"emoji\": true } },\n  { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"*Lead:* \" + ($('Parse Message Event').first().json?.reply?.lead_name || 'Unknown') + \"\\n*Company:* \" + ($('Parse Message Event').first().json?.reply?.company || 'Unknown') + \"\\n*Title:* \" + ($('Parse Message Event').first().json?.reply?.title || 'N/A') + \"\\n*LinkedIn:* \" + ($('Parse Message Event').first().json?.reply?.lead_linkedin_url || 'N/A') + \"\\n\\n*Intent:* \" + ($json.intent || 'positive_interest') + \"\\n*Tier:* \" + ($json.tier || 1) } },\n  { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"*Message:*\\n> \" + ($('Parse Message Event').first().json?.reply?.body || '').substring(0, 300) } },\n  { \"type\": \"divider\" },\n  { \"type\": \"context\", \"elements\": [{ \"type\": \"mrkdwn\", \"text\": \"📱 Source: LinkedIn | Processed: \" + new Date().toISOString() }] }\n]) }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-category-a",
      "name": "Slack Category A",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1350, 0],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIALS_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_DNC_CHANNEL || '#dnc-list' }}",
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify([\n  { \"type\": \"header\", \"text\": { \"type\": \"plain_text\", \"text\": \"🚫 Category B: Not Interested (LinkedIn)\", \"emoji\": true } },\n  { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"*Lead:* \" + ($('Parse Message Event').first().json?.reply?.lead_name || 'Unknown') + \"\\n*Company:* \" + ($('Parse Message Event').first().json?.reply?.company || 'Unknown') + \"\\n*LinkedIn:* \" + ($('Parse Message Event').first().json?.reply?.lead_linkedin_url || 'N/A') + \"\\n\\n*Intent:* \" + ($json.intent || 'not_interested') } },\n  { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"*Message:*\\n> \" + ($('Parse Message Event').first().json?.reply?.body || '').substring(0, 200) } },\n  { \"type\": \"context\", \"elements\": [{ \"type\": \"mrkdwn\", \"text\": \"📱 Source: LinkedIn | Action: Added to DNC list | \" + new Date().toISOString() }] }\n]) }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-category-b",
      "name": "Slack Category B",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1350, 200],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIALS_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_MANUAL_REVIEW_CHANNEL || '#manual-review' }}",
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify([\n  { \"type\": \"header\", \"text\": { \"type\": \"plain_text\", \"text\": \"🔍 Category C: Manual Review Needed (LinkedIn)\", \"emoji\": true } },\n  { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"*Lead:* \" + ($('Parse Message Event').first().json?.reply?.lead_name || 'Unknown') + \"\\n*Company:* \" + ($('Parse Message Event').first().json?.reply?.company || 'Unknown') + \"\\n*Title:* \" + ($('Parse Message Event').first().json?.reply?.title || 'N/A') + \"\\n*LinkedIn:* \" + ($('Parse Message Event').first().json?.reply?.lead_linkedin_url || 'N/A') + \"\\n\\n*Intent:* \" + ($json.intent || 'unclear') + \"\\n*Tier:* \" + ($json.tier || 3) } },\n  { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"*Message:*\\n> \" + ($('Parse Message Event').first().json?.reply?.body || '').substring(0, 400) } },\n  { \"type\": \"divider\" },\n  { \"type\": \"actions\", \"elements\": [\n    { \"type\": \"button\", \"text\": { \"type\": \"plain_text\", \"text\": \"✅ Mark Interested\", \"emoji\": true }, \"style\": \"primary\", \"action_id\": \"mark_interested\", \"value\": JSON.stringify({ lead_url: $('Parse Message Event').first().json?.reply?.lead_linkedin_url, action: 'mark_interested', source: 'linkedin' }) },\n    { \"type\": \"button\", \"text\": { \"type\": \"plain_text\", \"text\": \"❌ Mark Not Interested\", \"emoji\": true }, \"style\": \"danger\", \"action_id\": \"mark_not_interested\", \"value\": JSON.stringify({ lead_url: $('Parse Message Event').first().json?.reply?.lead_linkedin_url, action: 'mark_not_interested', source: 'linkedin' }) },\n    { \"type\": \"button\", \"text\": { \"type\": \"plain_text\", \"text\": \"📝 Draft Response\", \"emoji\": true }, \"action_id\": \"draft_response\", \"value\": JSON.stringify({ lead_url: $('Parse Message Event').first().json?.reply?.lead_linkedin_url, action: 'draft_response', source: 'linkedin' }) }\n  ]},\n  { \"type\": \"context\", \"elements\": [{ \"type\": \"mrkdwn\", \"text\": \"📱 Source: LinkedIn | Reply ID: \" + ($json.reply_id || 'N/A') + \" | \" + new Date().toISOString() }] }\n]) }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-category-c",
      "name": "Slack Category C",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1350, 400],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIALS_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate final response for webhook return\nconst originalPayload = $('Parse Message Event').first().json;\nconst agentResponse = $('Call Reply Handler Agent').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      source: 'linkedin',\n      reply_id: agentResponse.reply_id,\n      lead_linkedin_url: originalPayload.reply.lead_linkedin_url,\n      lead_name: originalPayload.reply.lead_name,\n      category: agentResponse.category,\n      intent: agentResponse.intent,\n      tier: agentResponse.tier,\n      processed_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "aggregate-response",
      "name": "Aggregate Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1750, 200]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_ALERTS_CHANNEL || '#gtm-alerts' }}",
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify([\n  { \"type\": \"header\", \"text\": { \"type\": \"plain_text\", \"text\": \"⚠️ Reply Handler Error (LinkedIn)\", \"emoji\": true } },\n  { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"*Error:* \" + ($json.error?.message || 'Unknown error') + \"\\n*Lead:* \" + ($('Parse Message Event').first().json?.reply?.lead_name || 'Unknown') + \"\\n*LinkedIn:* \" + ($('Parse Message Event').first().json?.reply?.lead_linkedin_url || 'N/A') } },\n  { \"type\": \"context\", \"elements\": [{ \"type\": \"mrkdwn\", \"text\": \"📱 Source: LinkedIn (HeyReach) | \" + new Date().toISOString() }] }\n]) }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "slack-error-alert",
      "name": "Slack Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1100, 450],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIALS_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: { code: 'AGENT_ERROR', message: $json.error?.message || 'Agent processing failed' } }) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 500]
    }
  ],
  "connections": {
    "HeyReach Webhook": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Parse Message Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message Event": {
      "main": [
        [
          {
            "node": "Call Reply Handler Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Reply Handler Agent": {
      "main": [
        [
          {
            "node": "Agent Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Success?": {
      "main": [
        [
          {
            "node": "Is Category A?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Category A?": {
      "main": [
        [
          {
            "node": "Slack Category A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Category B?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Category B?": {
      "main": [
        [
          {
            "node": "Slack Category B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Category C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Category A": {
      "main": [
        [
          {
            "node": "Aggregate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Category B": {
      "main": [
        [
          {
            "node": "Aggregate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Category C": {
      "main": [
        [
          {
            "node": "Aggregate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Error Alert": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2.0.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "atlas-gtm-reply-handler-linkedin"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reply-handling"
    },
    {
      "name": "linkedin"
    },
    {
      "name": "heyreach"
    },
    {
      "name": "atlas-gtm"
    },
    {
      "name": "category-routing"
    }
  ],
  "pinData": {},
  "notes": [
    {
      "id": "note-1",
      "content": "## Reply Handler - LinkedIn (HeyReach) v2.0\n\n### Purpose\nProcess incoming LinkedIn message replies from HeyReach campaigns using A/B/C category classification.\n\n### A/B/C Category System\n- **Category A** (Interested): positive_interest → `#interested-leads`\n- **Category B** (Not Interested): unsubscribe, not_interested, out_of_office, bounce → `#dnc-list`\n- **Category C** (Manual Review): question, objection, referral, unclear → `#manual-review`\n\n### Environment Variables Required\n- `HEYREACH_WEBHOOK_SECRET`: Secret for authenticating HeyReach webhook requests\n- `REPLY_HANDLER_URL`: URL of the Reply Handler agent (default: http://localhost:3002)\n- `SLACK_INTERESTED_LEADS_CHANNEL`: Slack channel for Category A (default: #interested-leads)\n- `SLACK_DNC_CHANNEL`: Slack channel for Category B (default: #dnc-list)\n- `SLACK_MANUAL_REVIEW_CHANNEL`: Slack channel for Category C (default: #manual-review)\n- `SLACK_ALERTS_CHANNEL`: Slack channel for errors (default: #gtm-alerts)\n- `DEFAULT_BRAIN_ID`: Default brain ID for classification (optional)\n\n### Workflow Flow\n1. **HeyReach Webhook**: Receives POST from HeyReach on message_received event\n2. **Auth Check**: Validates X-Webhook-Secret header against HEYREACH_WEBHOOK_SECRET\n3. **Parse Message Event**: Transforms HeyReach payload to agent format\n4. **Call Reply Handler Agent**: POSTs to /webhook/reply with 60s timeout, 3 retries\n5. **Route by Category**:\n   - Category A → `#interested-leads` (auto-notification)\n   - Category B → `#dnc-list` (auto-DNC)\n   - Category C → `#manual-review` (action buttons for human review)\n6. **Success/Error Response**: Returns result to HeyReach\n\n### Agent Response Format\n```json\n{\n  \"success\": true,\n  \"reply_id\": \"rpl_abc123\",\n  \"category\": \"A\",\n  \"tier\": 1,\n  \"action_type\": \"auto_response\",\n  \"intent\": \"positive_interest\",\n  \"source\": \"heyreach\"\n}\n```\n\n### HeyReach Webhook Payload\n```json\n{\n  \"event_type\": \"message_received\",\n  \"campaign_id\": \"hrcmp_456\",\n  \"lead\": {\n    \"linkedin_url\": \"https://linkedin.com/in/johndoe\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\",\n    \"headline\": \"VP Engineering at Acme Corp\",\n    \"company\": \"Acme Corp\"\n  },\n  \"message\": {\n    \"text\": \"Thanks for connecting!\",\n    \"timestamp\": \"2024-01-15T10:30:00Z\",\n    \"conversation_id\": \"conv_xyz\"\n  }\n}\n```\n\n### Test with curl\n```bash\ncurl -X POST http://localhost:5678/webhook/reply-handler-linkedin \\\n  -H \"Content-Type: application/json\" \\\n  -H \"X-Webhook-Secret: $HEYREACH_WEBHOOK_SECRET\" \\\n  -d '{\"event_type\":\"message_received\",\"lead\":{\"linkedin_url\":\"https://linkedin.com/in/test\",\"first_name\":\"John\"},\"message\":{\"text\":\"Yes, I would love to learn more!\"}}'\n```\n\n### Version History\n- v1.0.0: Initial implementation with intent-based routing\n- v2.0.0: Migrated to A/B/C category routing system (aligned with spec FR-001 to FR-016)",
      "position": [100, 550]
    }
  ]
}
