workflows/n8n/reply-handler-instantly.json
{
  "name": "Reply Handler - Instantly Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reply-handler-instantly",
        "authentication": "headerAuth",
        "options": {
          "rawBody": false
        },
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Instantly Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "reply-handler-instantly"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validate-secret",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.INSTANTLY_WEBHOOK_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "auth-check",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: { code: 'AUTH_FAILED', message: 'Invalid webhook secret' } }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "auth-failed-response",
      "name": "Auth Failed Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [500, 450]
    },
    {
      "parameters": {
        "jsCode": "// Parse Instantly webhook payload and transform for Reply Handler agent\nconst body = $input.first().json.body;\n\n// Validate required fields\nif (!body.event || body.event !== 'reply_received') {\n  throw new Error('Invalid event type: expected reply_received');\n}\n\nif (!body.lead?.email || !body.email?.body) {\n  throw new Error('Missing required fields: lead.email or email.body');\n}\n\n// Transform to agent format matching InstantlyWebhookPayloadSchema\nconst agentPayload = {\n  event: 'reply_received',\n  timestamp: new Date().toISOString(),\n  reply: {\n    id: body.email.message_id || `reply_${Date.now()}`,\n    message_id: body.email.message_id || null,\n    thread_id: body.email.thread_id || null,\n    content: body.email.body,\n    subject: body.email.subject || 'No subject',\n    received_at: body.email.received_at || new Date().toISOString()\n  },\n  lead: {\n    id: body.lead.id || body.lead.email,\n    email: body.lead.email,\n    first_name: body.lead.first_name || null,\n    last_name: body.lead.last_name || null,\n    company: body.lead.company_name || 'Unknown',\n    title: body.lead.title || null\n  },\n  campaign: {\n    id: body.campaign_id || 'unknown',\n    name: body.campaign_name || 'Unknown Campaign',\n    sequence_step: body.sequence_step || 1,\n    last_sent_template: body.last_template || null\n  },\n  account_id: body.account_id || 'default',\n  workspace_id: body.workspace_id || 'default'\n};\n\nreturn [{ json: agentPayload }];"
      },
      "id": "parse-reply-event",
      "name": "Parse Reply Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.REPLY_HANDLER_URL || 'http://localhost:3002' }}/webhook/reply",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.INSTANTLY_WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-reply-handler",
      "name": "Call Reply Handler Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-agent-success",
      "name": "Agent Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-category-a",
              "leftValue": "={{ $json.category }}",
              "rightValue": "A",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-category-a",
      "name": "Is Category A?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-category-b",
              "leftValue": "={{ $json.category }}",
              "rightValue": "B",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-category-b",
      "name": "Is Category B?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_INTERESTED_LEADS_CHANNEL || '#interested-leads' }}",
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify([\n  { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"🎯 *Category A - Interested Lead*\\n\\n*Reply ID:* \" + $json.reply_id + \"\\n*Intent:* \" + $json.intent + \"\\n*Tier:* \" + $json.tier + \"\\n*Action:* \" + $json.action_type + \"\\n*Source:* Instantly (Email)\" } },\n  { \"type\": \"divider\" },\n  { \"type\": \"context\", \"elements\": [{ \"type\": \"mrkdwn\", \"text\": \"Processed at \" + new Date().toISOString() }] }\n]) }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-category-a",
      "name": "Slack Category A",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1350, 0],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIALS_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_DNC_CHANNEL || '#dnc-list' }}",
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify([\n  { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"🛑 *Category B - Not Interested*\\n\\n*Reply ID:* \" + $json.reply_id + \"\\n*Intent:* \" + $json.intent + \" (\" + ($json.intent === 'unsubscribe' ? 'Unsubscribe Request' : $json.intent === 'out_of_office' ? 'Out of Office' : $json.intent === 'bounce' ? 'Bounce/Delivery Failure' : 'Declined') + \")\\n*Action:* \" + $json.action_type + \"\\n*Source:* Instantly (Email)\" } },\n  { \"type\": \"divider\" },\n  { \"type\": \"context\", \"elements\": [{ \"type\": \"mrkdwn\", \"text\": \"Lead added to DNC list. Processed at \" + new Date().toISOString() }] }\n]) }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-category-b",
      "name": "Slack Category B",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1350, 200],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIALS_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_MANUAL_REVIEW_CHANNEL || '#manual-review' }}",
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify([\n  { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"🔍 *Category C - Manual Review Required*\\n\\n*Reply ID:* \" + $json.reply_id + \"\\n*Intent:* \" + $json.intent + \" (\" + ($json.intent === 'question' ? 'Has Questions' : $json.intent === 'objection' ? 'Raised Objection' : $json.intent === 'referral' ? 'Referral/Wrong Person' : 'Needs Review') + \")\\n*Tier:* \" + $json.tier + \"\\n*Action:* \" + $json.action_type + \"\\n*Source:* Instantly (Email)\" } },\n  { \"type\": \"divider\" },\n  { \"type\": \"actions\", \"elements\": [\n    { \"type\": \"button\", \"text\": { \"type\": \"plain_text\", \"text\": \"✅ Mark Handled\", \"emoji\": true }, \"style\": \"primary\", \"action_id\": \"mark_handled\", \"value\": $json.reply_id },\n    { \"type\": \"button\", \"text\": { \"type\": \"plain_text\", \"text\": \"⬆️ Escalate\", \"emoji\": true }, \"action_id\": \"escalate\", \"value\": $json.reply_id }\n  ]}\n]) }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-category-c",
      "name": "Slack Category C",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1350, 400],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIALS_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate final response\nconst agentResponse = $('Call Reply Handler Agent').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      source: 'instantly',\n      reply_id: agentResponse.reply_id,\n      category: agentResponse.category,\n      tier: agentResponse.tier,\n      intent: agentResponse.intent,\n      action_type: agentResponse.action_type,\n      processed_at: new Date().toISOString(),\n      notifications_sent: true\n    }\n  }\n}];"
      },
      "id": "aggregate-response",
      "name": "Aggregate Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1750, 200]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_ALERTS_CHANNEL || '#gtm-alerts' }}",
        "text": "={{ '⚠️ *Reply Handler Error*\\n\\n*Source:* Instantly (Email)\\n*Error:* ' + ($json.error?.message || $json.message || 'Unknown error') + '\\n*Timestamp:* ' + new Date().toISOString() }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "slack-error-alert",
      "name": "Slack Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1100, 450],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIALS_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: { code: 'AGENT_ERROR', message: $json.error?.message || $json.message || 'Agent processing failed' } }) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 550]
    }
  ],
  "connections": {
    "Instantly Webhook": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Parse Reply Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reply Event": {
      "main": [
        [
          {
            "node": "Call Reply Handler Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Reply Handler Agent": {
      "main": [
        [
          {
            "node": "Agent Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Success?": {
      "main": [
        [
          {
            "node": "Is Category A?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Category A?": {
      "main": [
        [
          {
            "node": "Slack Category A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Category B?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Category B?": {
      "main": [
        [
          {
            "node": "Slack Category B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Category C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Category A": {
      "main": [
        [
          {
            "node": "Aggregate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Category B": {
      "main": [
        [
          {
            "node": "Aggregate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Category C": {
      "main": [
        [
          {
            "node": "Aggregate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Error Alert": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2.0.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "atlas-gtm-reply-handler-instantly"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reply-handling"
    },
    {
      "name": "instantly"
    },
    {
      "name": "atlas-gtm"
    },
    {
      "name": "category-abc"
    }
  ],
  "pinData": {},
  "notes": [
    {
      "id": "note-1",
      "content": "## Reply Handler - Instantly Webhook (v2.0)\n\n### Purpose\nProcess incoming email replies from Instantly.ai campaigns using A/B/C category classification.\n\n### Categories\n- **Category A (Interested)**: positive_interest intent → Auto-response with calendar link\n- **Category B (Not Interested)**: unsubscribe, not_interested, out_of_office, bounce → Add to DNC\n- **Category C (Manual Review)**: question, objection, referral, unclear → Human review required\n\n### Environment Variables Required:\n- `INSTANTLY_WEBHOOK_SECRET`: Secret for authenticating Instantly webhook requests\n- `REPLY_HANDLER_URL`: URL of the Reply Handler agent (default: http://localhost:3002)\n- `SLACK_INTERESTED_LEADS_CHANNEL`: Slack channel for Category A (default: #interested-leads)\n- `SLACK_DNC_CHANNEL`: Slack channel for Category B (default: #dnc-list)\n- `SLACK_MANUAL_REVIEW_CHANNEL`: Slack channel for Category C (default: #manual-review)\n- `SLACK_ALERTS_CHANNEL`: Slack channel for errors (default: #gtm-alerts)\n\n### Workflow Flow:\n1. **Instantly Webhook**: Receives POST on reply_received event\n2. **Auth Check**: Validates X-Webhook-Secret header\n3. **Parse Reply Event**: Transforms Instantly payload to agent format\n4. **Call Reply Handler Agent**: POSTs to agent with 60s timeout, 3 retries\n5. **Route by Category**: Routes based on A/B/C category\n   - Category A → #interested-leads (auto-handled)\n   - Category B → #dnc-list (DNC added)\n   - Category C → #manual-review (with action buttons)\n6. **Success/Error Response**: Returns result to caller\n\n### Agent Response Format:\n```json\n{\n  \"success\": true,\n  \"reply_id\": \"reply_123\",\n  \"category\": \"A\" | \"B\" | \"C\",\n  \"tier\": 1 | 2 | 3,\n  \"action_type\": \"auto_responded\" | \"draft_created\" | \"escalated\",\n  \"intent\": \"positive_interest\" | \"question\" | ...,\n  \"source\": \"instantly\"\n}\n```\n\n### Test with curl:\n```bash\ncurl -X POST http://localhost:5678/webhook/reply-handler-instantly \\\n  -H \"Content-Type: application/json\" \\\n  -H \"X-Webhook-Secret: $INSTANTLY_WEBHOOK_SECRET\" \\\n  -d '{\"event\":\"reply_received\",\"lead\":{\"email\":\"test@example.com\"},\"email\":{\"body\":\"Yes, I am interested!\"}}'\n```",
      "position": [100, 650]
    }
  ]
}
